S3method(as.data.frame,ldlr_cues)
S3method(as.data.frame,ldlr_model)
S3method(as.data.frame,ldlr_cv)
S3method(as.matrix,ldlr_cues)
S3method(coef,ldlr_model)
S3method(fitted,ldlr_model)
S3method(fitted,ldlr_cv)
S3method(predict,ldlr_comprehension)
S3method(predict,ldlr_production)
S3method(print,ldlr_cues)
S3method(print,ldlr_model)
S3method(print,ldlr_forms)
S3method(summary,ldlr_model)
S3method(summary,ldlr_cv)
export(available_measures)
export(check_measure_values)
export(compute_comprehension)
export(compute_measures)
export(compute_production)
export(ldlr_status)
export(load_fasttext_vectors)
export(load_ldlr_model)
export(make_combined_ortho_trigrams)
export(make_ortho_trigrams)
export(produce_forms)
export(compute_comprehension_cv)
export(compute_comprehension_loo)
export(compute_production_cv)
export(compute_production_loo)
S3method(print,ldlr_cv)
export(save_ldlr_model)
export(setup_julia)
